/* !!
 * Background
 * ===== ===== =====
 */
.background ( @value: @transparent )
{
	background: @value;
}

.background-color ( @color: @transparent )
{
	background-color: @color;
}

.background-image ( @url: '' )
{
	background-image: url( @url );
}

.background-repeat ( @mode: no-repeat )
{
	background-repeat: @mode;
}

.background-position ( @mode: center )
{
	background-position: @mode;
}

.background-attachment ( @mode: scroll )
{
	background-attachment: @mode;
}

.background-origin ( @mode: padding-box )
{
	background-origin: @mode;
}

.background-clip ( @mode: border-box )
{
	background-clip: @mode;
}

.background-size ( @mode: auto )
{
	background-size: @mode;
}
